<!-- Image Cover -->
<div class="imgcover">
  <p>
    ...Ready? <br />
    Get Finance Data <br />
  </p>
  <button class="btn btn-success shadow" style="font-size: 18pt; border-radius: 30px; padding: 15px;">
    <fa-icon class='navimg' [icon]="faGrinBeam" style='padding-left: 2px;'></fa-icon>
    Log in as Guest
  </button>
</div>



<!-- Image Left Text Right Grid Box -->
<div class="content">
  <div class="grid-box">
    <div style="padding: 20px;">
      <img src='../../assets/img1.jpg' class="illustration" />
    </div>
    <div>
      <p title="source: investopeda.com">
        The word “securities” refers to any tradable financial instrument or quantifiable index such as stocks, bonds,
        commodities, futures or market indices. Any security with price data over a period of time can be used to form
        a chart for analysis.
      </p>
    </div>

  </div>
</div>

<!-- Pure Text Display -->
<div class="content">
  <h1 title="source: investopeda.com">Big Data in Finance</h1>
  <p title="source: investopeda.com">
    The vast proliferation of data and increasing technological complexities continue to transform the way industries
    operate and compete. Over the last two years, 90 percent of the data in the world has been created as a result of
    the creation of 2.5 quintillion bytes of data on a daily basis. Commonly referred to as big data, this rapid growth
    and storage creates opportunities for collection, processing and analysis of structured and unstructured data.
  </p>
</div>

<!-- Image Only -->
<div class="seprator" style="background-image: url(../../assets/img3.jpg)"></div>

<!-- Image Right Text Left Grid Box -->
<div class="content">
  <div class="grid-box">

    <div>
      <p title="source: seekingalpha.com">
        Pick up the New York Times and skim over the business section. As you read, you form opinions about the
        character and prospects of the myriad companies featured in the daily news. Your brain arrives at a “sentiment”
        score based on a rubric of positive, negative, or neutral emotions stimulated by the text. In the computer
        science equivalent of reading the news, sentiment analysis is the systematic processing of attributes from
        words extracted from text mining.
      </p>
    </div>

    <img src='../../assets/img2.jpg' class="illustration" />

  </div>
</div>

<!-- Image Only -->
<div class="seprator" style="background-image: url(../../assets/img4.jpg); height: 400px;"></div>

<!-- BottomBar -->
<div class="bottom-bar"></div>